$color1: rgb(13, 21, 42);
$color2: #78B9E1;
$color3: #fff;
$color4: rgba(55,76,131,70%);
$color5: rgba(135, 112, 203, 0.884);
$color6: #4865ad;
$color7: rgba(98, 57, 194, 0.692);
$color8: #374d839f;
$color9: rgba(0, 0, 0, 0.959);
$color10:rgba(77,77,92,0.6);
$color11: rgba(63, 83, 133, 0.767);
$font1: 'Poppins', sans-serif;

            /*variables*/
@mixin reset-hp{ 
    padding: 20px;
    margin-bottom: 0;
}

@mixin reset-wh{
    width: 100%;
    height: 100vh;
}

@mixin reset-banner{
    padding: 0 50px;
    height: 80vh;
    background-size: cover;
    background-position:center;
} 
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:$font1;
    
}

/*barra de navegacion*/

.bgnav{
    background-color: $color1;
    font-family: $font1 !important;
    
}

.navbar {
    justify-content: space-between;
    
}

.navbar-brand{
    content: url("../images/logoluarouge.png");
    width: 110px;
    
}

.navbar-collapse {
    flex-grow: unset;
}

.nav-link{
    color: $color2 !important;
    text-shadow: 0 0 3px $color3;
    font-size: 20px;
    
}

                /*SECCION INICI0*/

                /*BANNER*/

#banner{
    @include reset-banner();
    background-image: url(/images/inicio.png);

}

#banner::before{
    content:"";
    background: $color10;
    position: absolute;
    width: 100%;
    height: 80vh;
    left: 0;
}

.contenido-banner{
    position: relative;
    color: $color9;
    text-shadow: 0 0 3px $color3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-banner h2{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0;
}

.contenido-banner h2 span{
    font-weight: 600;

}

.cita{
    font-size: 25px;
}

.boton-comenzar{
    text-decoration: none;
    text-shadow: none;
    color: $color3;
    border: 2px solid $color6;
    padding: 20px 40px;
    align-self: baseline;
    transition: all 0.4s;
    
}

.boton-comenzar:hover{
    background: $color11;
}

                /*FIN BANNER*/
.contenido1{
    width: 100%;
    background-color: $color6;
    justify-content: center;
    
}

.tipos{
    justify-content: center;
    padding: 10px;
}


h1 {
    color: $color2;
}

a {
    text-decoration: none;
    color: $color2;
}

h2{
    @include reset-hp();
    width: 100%;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
}

.parrafo1{
    @include reset-hp();
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    
}

.parrafo-div{
    @include reset-hp();
    width: 100%;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}

.therapy{
    width: 50%; 
    margin: 10px;
    background-position: left;
    background-size: cover;
}



section{
    background-color: $color6;
    margin-bottom: 0;
    padding: 10px 10px;

}


.parrafo2{
    @include reset-hp();
    @extend .parrafo1;
}

h3{
    @include reset-hp();
    width: 100%;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
}
.card{
    width: 300px;
    margin: 5px;
    margin-bottom: 10px;
    transition-delay: 5ms;
    transition-duration: 10ms;
    font-size: larger;
    
}
.card-body{
    background-color: $color5;

}

.row{
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-around;
    margin: 0;
    padding: 15px;
}


footer{
    width: 100%;
    padding: 30px 100px ;
    background-color:  $color1;
    font-family:$font1 !important;
    font-size: 20px;
    text-align: center;
    color: $color2;
}

h4{
    font-size: 20px;
    
}

.subir{
    height: 50px;
    width: 50px;
    background-color: $color6;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    border-radius: 50px;
    display: grid;
    place-content: center;

}

.redes{
    font-size: larger;
}
/**seccion sobremi*/

.sobremi{
    @include reset-wh();
    background-image: url("../images/sobremi.png");
    background-size: cover;
    background-attachment: fixed;
}

.banner2{
    @include reset-banner();
    background-image: url(/images/sobremi.png);
}

.banner2::before{
    content:"";
    background: rgba(77,77,92,0.6);
    position: absolute;
    width: 100%;
    height: 80vh;
    left: 0;
}

.contenido-banner2{
    position: relative;
    color: rgba(0, 0, 0, 0.959);
    text-shadow: 0 0 3px $color3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-banner2 h2 {
    font-size: 40px;
    font-weight: 400;
    padding: 10px 0;
}

.contenido-banner2 h2 span {
    font-weight: 600;

}
/*seccion libros*/

.banner3{
    padding: 0 50px;
    background-image: url(/images/libros.png);
    height: 80vh;
    background-size: cover;
    background-position:center;
}

.banner3::before{
    content:"";
    background: rgba(77,77,92,0.6);
    position: absolute;
    width: 100%;
    height: 80vh;
    left: 0;
}

.contenido-banner3{
    position: relative;
    color: rgba(0, 0, 0, 0.959);
    text-shadow: 0 0 4px $color3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-banner3 h2 {
    font-size: 40px;
    font-weight: 400;
    padding: 10px 0;
}

.contenido-banner3 h2 span {
    font-weight: 600;

}

/*seccion musica*/

.musica{
    @include reset-wh();
    background-image: url("../images/musique.png");
    background-size: contain;
    background-attachment: fixed;
}

            /*Seccion contacto*/

.contacto{
    background-image:url(/images/contact.png);
    background-size: cover;
    text-align: center;
}
.cajacontacto{
    
    background-size: contain;
}
.btn-primary{
    padding: 5px;
    border-radius: 5px;
    background-color: $color6;
    border-color: $color7;
}

.formulario{
        padding: 10px;
        text-align: center;
        letter-spacing: 1px;
        background-color: rgba(72, 101, 173, 0.575);
        width: 450px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
}

.space{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
}
.opciones{
        padding: 7px;
        font-size: medium;
        border-radius: 10px;
}

.information{
        padding: 10px;
        margin: 10px;
        text-align: center;
        border-radius: 10px;
        
}

.texto{
    width: 100%;
    padding: 10px;
    margin: 10px;
    resize: none;
    font-size: medium;
    border-radius: 10px;
}

.boton{
    padding: 5px;
    font-size: medium;
}

            /*MEDIA QUERIES*/

@media (max-width:480px) {
    .formulario{
        width: 100%;
    }
}

@media (max-width:480px){
    .contenido-banner h2 {
        width: 100%;
        font-size: 18px;
        
    }
    .contenido-banner3{
        width: 100%;
        font-size: 18px ;
    }
    .cita{
        width: 100%;
        font-size: 18px;
    }
    
        
}